*{box-sizing: border-box;}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    height: 400px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 550px;
}

.zahlBox
{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
}

input
{
    width: 125px;
    height: 55px; 
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #222;
    border-radius: 10px;
    text-align: center;
    font-size:24px ;
    background-color: rgb(240, 241, 241);
}

.zahlBox span
{
    font-size: 34px;
    font-family: Arial;
    margin-left: 10px;
    text-align: center;
}

.form-control:active, .form-control:focus, .form-control:focus:active 
{
  background-color: #96d3ec !important;  
  color: white;
}

button
{
    background-color: rgb(102, 102, 102);
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    margin-top: 50px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
}


/*================================*/
/*              FARBE             */


.container2
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    border-radius: 10px;    
}

.box
{
width: 150px;
height: 150px;
border: 1px solid grey;
border-radius: 10px;
}

.taste
{
margin-left: 70px;
}

.taste button
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 120px;
    height: 60px;
    margin: 15px 0;
    font-size:30px ;
    cursor: pointer;
    border: none;
}

.taste button:last-child
{
    background-color: black;
}